* {
    box-sizing: border-box;
}

body {
    background-color: rgba(34, 26, 26, 0.587);
    font-family: sans-serif;
}

h3, .rating {
    color: aliceblue;
}

.topnav {
    overflow: hidden;
    background-color: rgb(2, 2, 2);
    padding: 10px;
}

.topnav a {
    float: left;
    display: block;
    color: gold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.topnav .search-container {
    float: right;
}

.menu-button {
    float:right;
    display: block;
    color: rgb(118, 112, 79);
    text-align: center;
    padding: 14px 16px;
    font-size: 1.2rem;
    cursor: pointer;
}

.genre-dropdown {
    float: right;
    display: block;
    color: rgb(118, 112, 79);
    text-align: center;
    padding: 14px 16px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    appearance: none;
    -webkit-appearance: none;
}

form {
    background-color: rgba(253, 253, 253, 0.691);
    width: 300px;
    height: 43px;
    border-radius: 11px;
    display: flex;
    align-items: center;
}

input {
    all: unset;
    font: 15px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 9px;
}

.thumbnail {
    height: 350px;
    width: 300px;
    border-radius: 19px;
}

#section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    border-radius: 19px;
    padding: 15px;
    text-align: center;
    background-color: #151f30;
}

.clickable {
    cursor: pointer;
}

/* Existing styles */

/* Add styles for movie details */
.movie-details {
    background-color: rgba(34, 26, 26, 0.587);
    color: aliceblue;
    padding: 20px;
}

#movie-title {
    font-size: 24px;
    margin-bottom: 10px;
}

#movie-rating {
    font-size: 18px;
    margin-bottom: 10px;
}

#movie-poster {
    height: 350px;
    width: auto;
    border-radius: 19px;
    margin-bottom: 20px;
}

#movie-details-container {
    border-top: 2px solid aliceblue;
    padding-top: 20px;
}

#movie-overview {
    margin-top: 20px;
}

#movie-release-date,
#movie-genres,
#movie-original-language,
#movie-vote-count,
#movie-backdrop-path,
#movie-popularity,
#movie-adult,
#movie-video {
    margin: 10px 0;
}

#movie-genres,
#movie-original-language,
#movie-vote-count,
#movie-backdrop-path,
#movie-popularity,
#movie-adult,
#movie-video {
    font-size: 16px;
}
